body {
  margin: 0;
  padding: 0;
  width: 100%;
}
@keyframes kjx {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.box {
  display: flex;
}
@media (min-width: 768px) {
  .box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .box {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .box {
    width: 1140px;
  }
}
@media (min-width: 100vw) {
  .box {
    width: 100vw;
  }
}
.box .item {
  width: 20%;
  background-color: rgba(255, 238, 0, 0.452);
}
.box .item .left {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  left: 100px;
  top: 0;
}
.box .item .imgs {
  animation: move1 10s linear infinite reverse;
  pointer-events: none;
  margin: 50px auto;
  width: 90px;
  height: 90px;
  background-image: url('touxiang.jpg');
  background-position: center ;
  background-size: cover;
  border-radius: 50%;
}
.box .item a {
  text-decoration: none;
  color: black;
}
.box .content {
  padding: 0 50px;
  width: 80%;
}
.box .content a {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.box .content #bookstop .zhengrong {
  background-image: url('案例image/整容.png');
}
.box .content #bookstop .fuzhuang {
  background-image: url('案例image/服装.png');
}
.box .content #css3 .dh {
  background-image: url('案例image/动画.png');
}
.box .content #css3 .load {
  background-image: url('案例image/loading.png');
}
.box .content #css3 .liu {
  background-image: url('案例image/360.png');
}
.box .content #css3 .shicha {
  background-image: url('案例image/视差.png');
}
.box .content #css3 .yinyue {
  background-image: url('案例image/音乐.png');
}
.box .content #css3 .zhu {
  background-image: url('案例image/echars.png');
}
.box .content #css3 .xuan {
  background-image: url('案例image/按钮.png');
}
.box .content #css3 .svg {
  background-image: url('案例image/svg.png');
}
.box .content #js .gq {
  background-image: url('案例image/钢琴大师.png');
}
.box .content #js .kp {
  background-image: url('案例image/卡片记忆.png');
}
.box .content #js .sk {
  background-image: url('案例image/找色块.png');
}
.box .content #js .sj {
  background-image: url('案例image/倒计时.png');
}
.box .content #js .cj {
  background-image: url('案例image/抽奖.png');
}
.box .content #jq .sfq {
  background-image: url('案例image/手风琴.png');
}
.box .content #jq .lbt {
  background-image: url('案例image/轮播图.png');
}
.box .content #jq .fdj {
  background-image: url('案例image/放大镜.png');
}
.box .content #jq .wz {
  background-image: url('案例image/王者.png');
}
.box .content #jq .haim {
  background-image: url('案例image/海绵宝宝.png');
}
.box .content #vue .wangyiyun {
  background-image: url('案例image/wangyiyun.png');
}
.box .content #vue .mtl {
  background-image: url('案例image/摩天轮票房.png');
}
.box .content > div > div {
  display: flex;
  flex-wrap: wrap;
}
.box .content > div > div a {
  text-decoration: none;
  text-align: center;
  margin: 20px;
}
.box .content img {
  width: 300px;
  height: 300px;
}
